export(opGMMassessment)
export(GMMplotGG)
import("foreach")
import("ggplot2")
importFrom("stats", "ks.test", "rnorm", "dnorm", "dist", "runif", "var", "na.omit", "kmeans", "sd")
importFrom("utils", "head", "tail", "sessionInfo")
importFrom("caTools", "sample.split")
importFrom("dplyr", "sample_n")
importFrom("ClusterR", "GMM")
importFrom("mixtools", "normalmixEM")
importFrom("mixAK", "NMixMCMC")
importFrom("mclust", "densityMclust")
importFrom("multimode", "modetest")
importFrom("NbClust", "NbClust")
importFrom("parallel", "detectCores", "mclapply")
importFrom("AdaptGauss", "InformationCriteria4GMM")
importFrom("methods", "hasArg", "is")
importFrom("rlang", ".data")
importFrom("grDevices", "nclass.FD")
importFrom("DataVisualizations", "ParetoDensityEstimation")
importFrom("DistributionOptimization", "DistributionOptimization")
importFrom("doParallel", "registerDoParallel", "stopImplicitCluster")
importFrom("cluster", "maxSE")
